.xpack-breadcrumbs {
  min-height: 37px;
  padding: 8px 10px;
  margin: 0;
}
.application {
  background: #00A69B;
}
.inner-addon {
  position: relative;
}
.inner-addon .fa {
  position: absolute;
  padding: 12px;
  pointer-events: none;
  color: #222222;
}
.left-addon .fa {
  left: 0;
}
.right-addon .fa {
  right: 0;
}
.left-addon input,
.right-addon input {
  padding-left: 35px !important;
}
.container {
  width: 50%;
  height: 100vh;
  padding: 0;
  text-align: center;
  background: #F5F5F5;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container > div {
  float: left;
}
.container .logo-container {
  width: 120px;
  height: 120px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  right: -60px;
  margin-top: -60px;
  text-align: center;
}
.container .logo-container .kibanaWelcomeLogo {
  width: 60px;
  height: 60px;
  margin: 10px 0px 10px 20px;
}
.container .login-form {
  width: 300px;
  margin-top: 20px;
}
.container .login-form .form-group.error-message {
  color: #A30000;
}
.container .warning-container {
  background-color: #e00;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin-top: 10px;
}
.container .info-container {
  background-color: #1F6B7A;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin-top: 10px;
}
.loginButton {
  display: block;
  width: 100%;
  color: white;
  font-size: 1.25em;
  border: none;
  margin-bottom: 0;
  padding: 5px 15px;
  font-weight: normal;
  text-align: center;
  line-height: 1.42857143;
  border-radius: 4px;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #006E8A;
}
.loginButton:focus:not(:disabled),
.loginButton:hover:not(:disabled) {
  background-color: #004557;
}
.loginButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
input.form-control {
  font-size: 1.125em;
  height: auto;
}
